<header>
<h1>Rock, Paper, Scissors</h1>
<p id="subtitle">Multiplayer</p>
</header>

<section>
<h2>To play, enter your name.</h2>

<form action="/game" method="post">
<input type="text" name="name" placeholder="Enter name" autofocus></input>
<input type="submit" value="submit"></input>
</form>

<p id="waiting">The game will begin when another player has joined.</p>
</section>