<header><h1>Rock, Paper, Scissors</h1></header>

<section>
<h2>How would you like to play?</h2>
<a href="/singleplayer_register"><img src="/images/computer.png"><br/>Play Against The Computer</a>
<a href="/multiplayer_register"><img src="/images/friends.png"><br/>Play Against A Friend</a>
</section>